*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
html{
    scroll-behavior: smooth;
}
body{
    background-position: center;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
}
header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
}
.logo{
    margin-left: 60px;
    margin-top: 50px;
}
.logo img{
    height: 10vh;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    padding: 0px 20px;
    color: black;
}
.nav ul li a:hover{
    color: teal;
    font-weight: bolder;
}
.heropage{
    position: absolute;
    color: black;
    margin-top: 100px;
    margin-left: 100px;
}
.inside-heropage{
    line-height:2;
}
.inside-heropage h1{
    font-size: 40px;
}
.inside-heropage p{
    font-size: 17px;
}
span{
    color: red;
    font-weight: bolder;
}
.line1{
    height: 2px;
    color: black;
    width: 12%;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
}
.poster{
    margin-top: 130px;
    margin-right: 150px;
}
.poster img{
    height: 320px;
    float: right;
    border-radius: 10px;
}
.btn1{
    margin-top: 30px;
}
.btn1 a{
    text-decoration: none;
    color: black;
    padding: 10px 25px;
    background: teal;
    border-radius: 30px;
}
.btn1 a:hover{
    background: black;
    color: teal;
}
.btn1 i:hover{
    color: white;
}
.btn1 i{
    color: white;
    padding: 0px 10px;
}
.latest-movies h1{
    font-size: 20px;
    color: teal;
}
.latest-movies{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    margin-top: 500px;
    padding: 0px 20px;
}
.latest-container{
    padding: 10px 0px;
}
.latest-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.latest-inside img{
    height: 122px;
    padding: 4px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.latest-inside img:hover{
    transform: scale(1.2);
}
.heading1{
    color: black;
    line-height: 1.5;
}
.heading1 h4{ 
    font-size: 15px;
}
.heading1 h6{
    font-size: 12px;
}
.btn2 a{
text-decoration: none;
font-size: 13px;
background: teal;
padding: 7px 7px;
color: white;
border-radius: 10%;
}
.btn2{
    margin-top: -30px;
    margin: left 150px; ;
}
.movies{
    position: absolute;
    width:100% ;
    height: 100%;
    background-color: black;
    padding: 0px 20px;
    color: white;
    margin-top: 850;
}
.movies h1{
    font-size:20px ;
    color: blanchedalmond;
}
.movies-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movie-inside h3{
    font-size: 15px;
    font-weight: 500;
margin-top: 6px;
}
.movie-inside img{
    height: 250px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.movie-inside img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.imdb{
    background: teal;
    border-radius: 20px;
    position: absolute;
    padding:10px 10px ;
    color: #000;
    margin-top: -80;
    margin-left: 120px;
    font-weight: bolder;
}
.more1{
    position: absolute;
    margin-top: 860px;
margin-left: 1220;
}
.more1 a{
    color: teal;
    font-weight: bolder;
    text-decoration: none;
}
.gamesandapps{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0px 20px;
    color: #000;
    margin-top: 1300px;
}


.gamesandapps h1{
    font-size: 20px;
    color: rgb(18,241,241);
}
.gamesandapps-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gameandapp-inside h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}
.gamesandapp img{
    height: 250px;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
}
.gamesandapp-inside img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.imdb{
    background: teal;
    border-radius: 20px;
    position: absolute;
    padding: 10px 10px;
    color: #000;
    margin-top: -80px;
    margin-left: 120px;
    font-weight: bolder;
}
.collections{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0px 20px;
    color: #000;
    margin-top: 1750px;
}
.collections h1{
    font-size: 20px;
    color: rgb(18,241,241);
}
.collections-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collections-insider h3{
font-size: 15px;
font-weight: 500;
margin-top: 6px;
}
.collections-insider img{
    height: 250px;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
}
.collections-insider img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.imdb{
    background-color: teal;
    border-radius: 20px;
    position: absolute;
    padding: 10px 10px;
    color: #000;
    margin-top: -80;
    margin-left: 120px;
    font-weight: bolder;
}
.more3{
    position: absolute;
    margin-top: 1300px;
    margin-left: 1220px;
}
.tvshows{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0px 20px;
    color: #000;
    margin-top: 1300px;
}
.tvshows h1{
    font-size: 20px;
}
.tvshows-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tvshows-insider h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
    }
    .tvshows-insider img{
        height: 250px;
        transition: all 500ms ease-in-out;
        border-radius: 10px;
    }
    .tvshows-insider img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .imdb{
        background-color: teal;
        border-radius: 20px;
        position: absolute;
        padding: 10px 10px;
        color: #000;
        margin-top: -80;
        margin-left: 120px;
        font-weight: bolder;
    }
    .more2{
        position: absolute;
        margin-top: 1730px;
        margin-left: 1220px;
    }
    .more2 a{
        color: teal;
        font-weight: bolder;
        text-decoration: none;
    }
    
    

